class Cli < Formula
  desc "Streamdal's CLI tool"
  homepage "https://github.com/streamdal/cli"
  license "Apache-2.0"

  on_macos do
    if Hardware::CPU.arm?
      url "{{ macos_arm_url }}"
      sha256 "{{ macos_arm_sha256 }}"
    else
      url "{{ macos_intel_url }}"
      sha256 "{{ macos_intel_sha256 }}"
    end
  end

  on_linux do
    if Hardware::CPU.intel?
      url "{{ linux_url }}"
      sha256 "{{ linux_sha256 }}"
    else
      ohdie "Unsupported CPU architecture"
    end
  end

  def install
    on_macos do
      if Hardware::CPU.arm?
        bin.install "streamdal-darwin-arm64" => "streamdal-cli"
      else
        bin.install "streamdal-darwin" => "streamdal-cli"
      end
    end

    on_linux do
      bin.install "streamdal-linux" => "streamdal-cli"
    end
  end

  test do
    system "#{bin}/streamdal-cli --usage"
  end
end